<%- include('partials/header') %>

    <div class="center">
        <div class="nd">
            <div class="container">
                <i class="fa fa-key"></i>
                <h1>Secrets</h1>
                <p>Don't keep your secrets, share them anonymously!</p>
                <hr>
                <form action="/" method="post">
                    <a href="/register" role="button" class="reg">Register</a>
                    <a href="/login" role="button" class="login">Login</a>
                </form>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>