<%- include('partials/header') %>

    <div class="register">
        <div class="logo">
            <a href="/">
                <i class="fa fa-key"></i><p>Secret</p>
            </a>
        </div>
        <div class="form">

            <h1>Register</h1>
            <form action="/register" method="post">
                <label for="email">Email </label>
                <input type="email" name="username" id="email">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <button type="submit">Register</button>
                <p>Already have an account? <a href="/login">Login</a></p>
            </form>

            <div class="google">
                <a href="/auth/google">
                    <i class="fa fa-google"></i>
                    Sign Up With Google
                </a>
            </div>
        </div>
    </div>

<%- include('partials/footer') %>