<%- include('partials/header') %>

<div class="secret">
    <div class="nd">
        <div class="container">
            <i class="fa fa-key"></i>
            <h1>You've Discovered My Secret!</h1>
            <p>This is my secret you found it</p>
            <hr>
            <form action="/" method="post">
                <a href="/logout" role="button" class="logout">Logout</a>
                <a href="/submitSecret" role="button" class="login">Submit a secret</a>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %>