<%- include('partials/header') %>

<div class="secret">
    <div class="nd">
        <div class="container">
            <i class="fa fa-key"></i>
            <h1>You've Discovered My Secret!</h1>
            <% if(usersWithSecrets.length === 0 ) { %>
                <p>Oops, no one hasn't talked yet &#128542;</p>
                <% } else { %>
                    <% usersWithSecrets.forEach( i => { %>
                        <p><%= i.secret %></p>    
                        <% }) %>
            <% } %>
            <hr>
            <form action="/" method="post">
                <a href="/logout" role="button" class="logout">Logout</a>
                <a href="/submit" role="button" class="login">Submit a secret</a>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %>